   body {
      background-color: #6096B4;
      text-align: center;
      font-family: 'Ubuntu', sans-serif;
      color:#BDCDD6;
    }

    .top-container {
        margin-top:250px;
        font-size:30px;
        color:#93BFCF;
        margin-left:auto;
        margin-right:auto;

    }

    .bottom-text {
        font-size:20px;
        color:#BDCDD6;
        text-align: center;
        margin: 200px;

    }

     .middle-container {
        margin-top:250px;
        font-size:20px;
        color:#BDCDD6;
        text-align: center;
    }

     .bottom-container {
        margin-top:250px;
        font-size:20px;
        color:#BDCDD6;
        text-align: center;
    }
    .bottom {
        background-color: hsla(158, 23%, 18%, 1);
        width:300px;
        left: 200px
    }

   .top-cloud {
        position: absolute;
    }

    .icon-img {

        height:100px;
        width:100px;

    }
    h3{
        font-size:20px;
    }
  h5 {
    font-size:15px;
    color:#3A4F7A
    font-family: 'Sacramento', cursive;

  }

  .center {
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
  }
.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}